.education-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
    width: 90%;
    margin: 15px 0;
}

.education-item>.education-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 5px;
}

.education-item>.education-school {
    font-weight: normal;
    font-size: 1rem;
    margin: 0 0 0 5px;
}

.education-item>.education-time {
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0 0 0 5px;
}

.education-item>.education-description {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    background-color: azure;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -8px 5px -5px pink;
}

.education-certs {
    margin: 0;
    width: 100%;
}

.education-certs>a {
    text-decoration: none;
    display: inline-block;
    word-break: break-all;
    margin: 0 5px;
    font-size: 0.8rem;
    border-left: 1px solid red;
    padding-left: 5px;
}

.education-certs>a:hover {
    text-decoration: underline;
}