* {
    --navbar-height: 50px;
}

.navbar {
    width: 100vw;
    background-color: #344D67;
    height: var(--navbar-height);
}

.navbar > nav {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar > nav > a{
    display: inline-block;
    height: var(--navbar-height);
    padding: 0;
    margin: 0;
    line-height: var(--navbar-height);
    text-decoration: none;
    padding: 0 40px;
    color: white;
    font-weight: 400;
}

.navbar > nav > a:hover {
    background-color: #839AA8;
}